In [2]:
import pandas as pd
import numpy as np
import time 
import os

#### My current Working Directory

In [3]:
os.getcwd()
#changing to directory where my file is
os.chdir('C:\\Users\\DAVINDER.YADAV\\Desktop\\Optimizing_code_with_Pandas')
os.listdir()

['F16_FY2018-19_11055560_2018-2019.pdf',
 'poker_hand.csv',
 'Popular_Baby_Names.csv',
 'restaurant_data.csv']

In [4]:
poker_hands=pd.read_csv('poker_hand.csv')

pd_start_time = time.time()

# Calculate the variance using pandas
print(poker_hands['R2'].var())

# Print the CPU time required to complete the operation 
print("Results from the pandas method calculated in %s seconds" % (time.time() - pd_start_time))

np_start_time = time.time()

# Calculate the variance using NumPy
print(np.var(poker_hands['R2']))

# Print the CPU time required to complete the operation 
print("Results from the NumPy method calculated in %s seconds" % (time.time() - np_start_time))

14.190090008221318
Results from the pandas method calculated in 0.0010256767272949219 seconds
14.189522631571649
Results from the NumPy method calculated in 0.0009670257568359375 seconds

In [5]:
def method_1(N):
    res=0
    for i in range(1,(N+1)):
        res += i**2
    return res
def method_2(N):
    return (N*(N+1)*(2*N+1))/6

In [6]:
# Calculate the result of the problem using method_1() and print the time required
N = 1000000
fm_start_time = time.time()
first_method = method_1(N)
print("Results from the first method calculated in %s seconds" % (time.time() - fm_start_time))

# Calculate the result of the problem using method_2() and print the time required
sm_start_time = time.time()
second_method = method_2(N)
print(second_method)
print("Results from the second method calculated in %s seconds" % (time.time() - sm_start_time))

Results from the first method calculated in 0.397932767868042 seconds
3.333338333335e+17
Results from the second method calculated in 0.0009982585906982422 seconds

### To fetch rows from Pandas Dataframe iloc is more efficient as row level from a sorted data

In [7]:
# Define the variable that keeps the targeted indices
rows = range(0,1000)

# Select the rows using the targeted indices and calculate the CPU time
loc_start_time = time.time()
print(poker_hands.loc[rows])

# Select the rows using the targeted column names and calculate the CPU time
iloc_start_time = time.time()
print(poker_hands.iloc[rows])

print("Results from the .loc method calculated in %s seconds" % (time.time() - loc_start_time))
print("Results from the .iloc method calculated in %s seconds" % (time.time() - iloc_start_time))

     S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0     1  10   1  11   1  13   1  12   1   1      9
1     2  11   2  13   2  10   2  12   2   1      9
2     3  12   3  11   3  13   3  10   3   1      9
3     4  10   4  11   4   1   4  13   4  12      9
4     4   1   4  13   4  12   4  11   4  10      9
5     1   2   1   4   1   5   1   3   1   6      8
6     1   9   1  12   1  10   1  11   1  13      8
7     2   1   2   2   2   3   2   4   2   5      8
8     3   5   3   6   3   9   3   7   3   8      8
9     4   1   4   4   4   2   4   3   4   5      8
10    1   1   2   1   3   9   1   5   2   3      1
11    2   6   2   1   4  13   2   4   4   9      0
12    1  10   4   6   1   2   1   1   3   8      0
13    2  13   2   1   4   4   1   5   2  11      0
14    3   8   4  12   3   9   4   2   3   2      1
15    1   3   4   7   1   5   2   4   4  13      0
16    1   4   1   1   1   3   3   5   3   2      4
17    3   8   3  12   2   7   2   6   1   2      0
18    4   8   1  11   4   6   3   2   4  12      0
19    3   7   2   7   4  11   1  12   3   1      1
20    1  13   4   8   2   7   2  10   3  13      1
21    2   6   2   8   1  11   1   4   3   7      0
22    3  10   2  10   4   5   1   2   3   8      1
23    2   1   3  13   4   6   1   9   4   1      1
24    2  10   2   8   1   8   3   2   2  13      1
25    2  13   1   5   4   5   4   8   3   3      1
26    3   1   1   5   2   7   3  13   1   1      1
27    1   7   1   5   4   8   1   6   2   6      1
28    3   7   3   9   2  12   2   5   4   4      0
29    2  10   1   1   1  12   4   6   2   8      0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
970   2  11   4   2   1   2   4   1   1  11      2
971   1  13   4   8   3   1   2   5   1   5      1
972   3   9   2   2   3   5   2   8   2   7      0
973   3  10   1   9   3   8   3   4   3   5      0
974   3  11   4   3   2   8   1  13   4  10      0
975   4   3   4   6   2   1   3  11   1   4      0
976   4   7   4   4   4  10   4   9   4  12      5
977   3   9   1   8   2   7   4   9   2   6      1
978   1   9   3  11   2   2   3   7   2  10      0
979   4   3   2   8   3   9   3   5   4   7      0
980   3   2   4   8   1   7   2  13   3   8      1
981   3   6   4   2   3   8   3   9   1   4      0
982   4   6   2  13   4  13   4   3   2   5      1
983   4   7   2   8   1  11   3   2   1   2      1
984   4   1   1  13   1   3   3   7   2   7      1
985   4  11   3  10   3   2   2   1   4  12      0
986   2   4   3   5   4  12   3   2   4  13      0
987   2   7   4   8   1   5   3   2   4  10      0
988   4   1   1   8   3  13   4   9   2   1      1
989   4   7   1   4   4  12   3   4   1   3      1
990   3   9   3   3   3  13   3  11   3   5      5
991   2   1   1   3   2   5   3   8   1  12      0
992   4   2   3   6   2  11   2  13   1   6      1
993   1   8   3  13   2   7   3  10   2  11      0
994   1  10   4   7   3  13   4  11   2   3      0
995   4   9   1  12   3   9   1   6   1  13      1
996   3  11   3  13   1   6   2  11   3   3      1
997   3  10   1  13   3   9   2  10   3   4      1
998   4   1   2   9   1   8   1   2   1   4      0
999   4  11   1  12   1  13   1   3   3   3      1

[1000 rows x 11 columns]
     S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0     1  10   1  11   1  13   1  12   1   1      9
1     2  11   2  13   2  10   2  12   2   1      9
2     3  12   3  11   3  13   3  10   3   1      9
3     4  10   4  11   4   1   4  13   4  12      9
4     4   1   4  13   4  12   4  11   4  10      9
5     1   2   1   4   1   5   1   3   1   6      8
6     1   9   1  12   1  10   1  11   1  13      8
7     2   1   2   2   2   3   2   4   2   5      8
8     3   5   3   6   3   9   3   7   3   8      8
9     4   1   4   4   4   2   4   3   4   5      8
10    1   1   2   1   3   9   1   5   2   3      1
11    2   6   2   1   4  13   2   4   4   9      0
12    1  10   4   6   1   2   1   1   3   8      0
13    2  13   2   1   4   4   1   5   2  11      0
14    3   8   4  12   3   9   4   2   3   2      1
15    1   3   4   7   1   5   2   4   4  13      0
16    1   4   1   1   1   3   3   5   3   2      4
17    3   8   3  12   2   7   2   6   1   2      0
18    4   8   1  11   4   6   3   2   4  12      0
19    3   7   2   7   4  11   1  12   3   1      1
20    1  13   4   8   2   7   2  10   3  13      1
21    2   6   2   8   1  11   1   4   3   7      0
22    3  10   2  10   4   5   1   2   3   8      1
23    2   1   3  13   4   6   1   9   4   1      1
24    2  10   2   8   1   8   3   2   2  13      1
25    2  13   1   5   4   5   4   8   3   3      1
26    3   1   1   5   2   7   3  13   1   1      1
27    1   7   1   5   4   8   1   6   2   6      1
28    3   7   3   9   2  12   2   5   4   4      0
29    2  10   1   1   1  12   4   6   2   8      0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
970   2  11   4   2   1   2   4   1   1  11      2
971   1  13   4   8   3   1   2   5   1   5      1
972   3   9   2   2   3   5   2   8   2   7      0
973   3  10   1   9   3   8   3   4   3   5      0
974   3  11   4   3   2   8   1  13   4  10      0
975   4   3   4   6   2   1   3  11   1   4      0
976   4   7   4   4   4  10   4   9   4  12      5
977   3   9   1   8   2   7   4   9   2   6      1
978   1   9   3  11   2   2   3   7   2  10      0
979   4   3   2   8   3   9   3   5   4   7      0
980   3   2   4   8   1   7   2  13   3   8      1
981   3   6   4   2   3   8   3   9   1   4      0
982   4   6   2  13   4  13   4   3   2   5      1
983   4   7   2   8   1  11   3   2   1   2      1
984   4   1   1  13   1   3   3   7   2   7      1
985   4  11   3  10   3   2   2   1   4  12      0
986   2   4   3   5   4  12   3   2   4  13      0
987   2   7   4   8   1   5   3   2   4  10      0
988   4   1   1   8   3  13   4   9   2   1      1
989   4   7   1   4   4  12   3   4   1   3      1
990   3   9   3   3   3  13   3  11   3   5      5
991   2   1   1   3   2   5   3   8   1  12      0
992   4   2   3   6   2  11   2  13   1   6      1
993   1   8   3  13   2   7   3  10   2  11      0
994   1  10   4   7   3  13   4  11   2   3      0
995   4   9   1  12   3   9   1   6   1  13      1
996   3  11   3  13   1   6   2  11   3   3      1
997   3  10   1  13   3   9   2  10   3   4      1
998   4   1   2   9   1   8   1   2   1   4      0
999   4  11   1  12   1  13   1   3   3   3      1

[1000 rows x 11 columns]
Results from the .loc method calculated in 0.042885541915893555 seconds
Results from the .iloc method calculated in 0.009943008422851562 seconds

In [8]:
# Use .iloc to select the first 6 columns 
ind_start_time = time.time()
print(poker_hands.iloc[:,0:6])
# Use simple column selection to select the first 6 columns 
name_start_time = time.time()
print(poker_hands[['S1', 'R1', 'S2', 'R2', 'S3', 'R3']])
print("Results from the first method calculated in %s seconds" % (time.time() - ind_start_time))
print("Results from the second method calculated in %s seconds" % (time.time() - name_start_time))

       S1  R1  S2  R2  S3  R3
0       1  10   1  11   1  13
1       2  11   2  13   2  10
2       3  12   3  11   3  13
3       4  10   4  11   4   1
4       4   1   4  13   4  12
5       1   2   1   4   1   5
6       1   9   1  12   1  10
7       2   1   2   2   2   3
8       3   5   3   6   3   9
9       4   1   4   4   4   2
10      1   1   2   1   3   9
11      2   6   2   1   4  13
12      1  10   4   6   1   2
13      2  13   2   1   4   4
14      3   8   4  12   3   9
15      1   3   4   7   1   5
16      1   4   1   1   1   3
17      3   8   3  12   2   7
18      4   8   1  11   4   6
19      3   7   2   7   4  11
20      1  13   4   8   2   7
21      2   6   2   8   1  11
22      3  10   2  10   4   5
23      2   1   3  13   4   6
24      2  10   2   8   1   8
25      2  13   1   5   4   5
26      3   1   1   5   2   7
27      1   7   1   5   4   8
28      3   7   3   9   2  12
29      2  10   1   1   1  12
...    ..  ..  ..  ..  ..  ..
24980   4   5   4  13   3  10
24981   3   3   1  11   4   2
24982   4   1   2   1   1   3
24983   3   2   3   1   4  10
24984   2   9   3   1   4   5
24985   3  10   1   5   3   3
24986   2   8   2   5   1  11
24987   2  12   3   9   1   4
24988   4   8   1   8   1   4
24989   4  11   3   2   2  13
24990   4  10   2  11   2   9
24991   2  11   2   9   4   9
24992   4   6   4  10   1   1
24993   2   6   2  13   2   5
24994   4   7   1  10   2   6
24995   2  12   1   2   4   8
24996   2  11   1   5   1  10
24997   3   7   3  13   2   4
24998   1   8   4   1   4  12
24999   4  12   3  11   4   4
25000   2   8   2  12   4   3
25001   2  12   3   5   3   8
25002   4  10   2  13   4   5
25003   1  12   2   9   2  12
25004   3   5   3   7   4  11
25005   3   9   2   6   4  11
25006   4   1   4  10   3  13
25007   2   1   2  10   4   4
25008   2  12   4   3   1  10
25009   1   7   3  11   3   3

[25010 rows x 6 columns]
       S1  R1  S2  R2  S3  R3
0       1  10   1  11   1  13
1       2  11   2  13   2  10
2       3  12   3  11   3  13
3       4  10   4  11   4   1
4       4   1   4  13   4  12
5       1   2   1   4   1   5
6       1   9   1  12   1  10
7       2   1   2   2   2   3
8       3   5   3   6   3   9
9       4   1   4   4   4   2
10      1   1   2   1   3   9
11      2   6   2   1   4  13
12      1  10   4   6   1   2
13      2  13   2   1   4   4
14      3   8   4  12   3   9
15      1   3   4   7   1   5
16      1   4   1   1   1   3
17      3   8   3  12   2   7
18      4   8   1  11   4   6
19      3   7   2   7   4  11
20      1  13   4   8   2   7
21      2   6   2   8   1  11
22      3  10   2  10   4   5
23      2   1   3  13   4   6
24      2  10   2   8   1   8
25      2  13   1   5   4   5
26      3   1   1   5   2   7
27      1   7   1   5   4   8
28      3   7   3   9   2  12
29      2  10   1   1   1  12
...    ..  ..  ..  ..  ..  ..
24980   4   5   4  13   3  10
24981   3   3   1  11   4   2
24982   4   1   2   1   1   3
24983   3   2   3   1   4  10
24984   2   9   3   1   4   5
24985   3  10   1   5   3   3
24986   2   8   2   5   1  11
24987   2  12   3   9   1   4
24988   4   8   1   8   1   4
24989   4  11   3   2   2  13
24990   4  10   2  11   2   9
24991   2  11   2   9   4   9
24992   4   6   4  10   1   1
24993   2   6   2  13   2   5
24994   4   7   1  10   2   6
24995   2  12   1   2   4   8
24996   2  11   1   5   1  10
24997   3   7   3  13   2   4
24998   1   8   4   1   4  12
24999   4  12   3  11   4   4
25000   2   8   2  12   4   3
25001   2  12   3   5   3   8
25002   4  10   2  13   4   5
25003   1  12   2   9   2  12
25004   3   5   3   7   4  11
25005   3   9   2   6   4  11
25006   4   1   4  10   3  13
25007   2   1   2  10   4   4
25008   2  12   4   3   1  10
25009   1   7   3  11   3   3

[25010 rows x 6 columns]
Results from the first method calculated in 0.02194356918334961 seconds
Results from the second method calculated in 0.012966156005859375 seconds

### Pandas sample function is much faster that numpy.random.randint function

In [9]:
# Extract number of rows in dataset
N=poker_hands.shape[0]

# Select and time the selection of the 75% of the dataset's rows
rand_start_time = time.time()
poker_hands.iloc[np.random.randint(low=0, high=N, size=int(0.75 * N))]
print("Results from the first method calculated in %s seconds" % (time.time() - rand_start_time))

# Select and time the selection of the 75% of the dataset's rows using sample()
samp_start_time = time.time()
poker_hands.sample(int(0.75 * N), axis=0, replace = True)
print("Results from the second method calculated in %s seconds" % (time.time() - samp_start_time))

Results from the first method calculated in 0.00897836685180664 seconds
Results from the second method calculated in 0.003989696502685547 seconds

In [10]:
# Extract number of columns in dataset
D=poker_hands.shape[1]

# Select and time the selection of 4 of the dataset's columns using NumPy
np_start_time = time.time()
poker_hands.iloc[:,np.random.randint(low=0, high=D, size=4)]
print("Results from the first method calculated in %s seconds" % (time.time() - np_start_time))

# Select and time the selection of 4 of the dataset's columns using pandas
pd_start_time = time.time()
poker_hands.sample(4, axis=1)
print("Results from the second method calculated in %s seconds" % (time.time() - pd_start_time))

Results from the first method calculated in 0.0009982585906982422 seconds
Results from the second method calculated in 0.0009958744049072266 seconds

In [11]:
poker_hands.head()

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

### Using Replace Function

In [12]:
# Replace Class 1 to -2 
poker_hands['Class'].replace(1, -2, inplace=True)
# Replace Class 2 to -3
poker_hands['Class'].replace(2, -3, inplace=True)

print(poker_hands['Class'].value_counts())

 0    12493
-2    10599
-3     1206
 3      513
 4       93
 5       54
 6       36
 7        6
 9        5
 8        5
Name: Class, dtype: int64

In [13]:
names=pd.read_csv('Popular_Baby_Names.csv')

In [14]:
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,1
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,2
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,3
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5

In [15]:
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].loc[names.Gender == 'FEMALE'] = 'GIRL'

print("Results from the first method calculated in %s seconds" % (time.time() - start_time))
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].replace('FEMALE', 'GIRL', inplace=True)

print("Results from the first method calculated in %s seconds" % (time.time() - start_time))

Results from the first method calculated in 0.07579517364501953 seconds
Results from the first method calculated in 0.000997781753540039 seconds

C:\Users\DAVINDER.YADAV\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### USING REPLACE FUNCTION TO REPLACE MULTIPLE VALUES AT ONCE

In [16]:
start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].loc[(names["Ethnicity"] == 'BLACK NON HISP') | 
                      (names["Ethnicity"] == 'BLACK NON HISPANIC') | 
                      (names["Ethnicity"] == 'WHITE NON HISP') | 
                      (names["Ethnicity"] == 'WHITE NON HISPANIC')] = 'NON HISPANIC'

print("Results from the above operation calculated in %s seconds" % (time.time() - start_time))
start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].replace(['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'], 'NON HISPANIC')

print("Results from the above operation calculated in %s seconds" % (time.time() - start_time))

Results from the above operation calculated in 0.05285787582397461 seconds
Results from the above operation calculated in 0.000997304916381836 seconds

C:\Users\DAVINDER.YADAV\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Replace multiple values with multiple values

In [17]:
start_time = time.time()

# Replace ethnicities as instructed
names['Ethnicity'].replace(['ASIAN AND PACI','BLACK NON HISP', 'WHITE NON HISP'], ['ASIAN AND PACIFIC ISLANDER','BLACK NON HISPANIC','WHITE NON HISPANIC'], inplace=True)

print("Results from the above operation calculated in %s seconds" % (time.time() - start_time))

Results from the above operation calculated in 0.0019931793212890625 seconds

## Dictionary replacement is more efficient than normal replace

In [18]:
# Replace Royal flush or Straight flush to Flush
names.replace({'GIRL':"0", 'BOY':"1"}, inplace=True)
#print(poker_hands['Explanation'].head())
names.head(2)
# Replace the number rank by a string
names['Rank'].replace({1:'FIRST', 2:'SECOND', 3:'THIRD'}, inplace=True)
print(names.head())

   Year of Birth Gender                   Ethnicity Child's First Name  Count  \
0           2011      0  ASIAN AND PACIFIC ISLANDER             SOPHIA    119
1           2011      0  ASIAN AND PACIFIC ISLANDER              CHLOE    106
2           2011      0  ASIAN AND PACIFIC ISLANDER              EMILY     93
3           2011      0  ASIAN AND PACIFIC ISLANDER             OLIVIA     89
4           2011      0  ASIAN AND PACIFIC ISLANDER               EMMA     75

     Rank
0   FIRST
1  SECOND
2   THIRD
3       4
4       5

### Replace multiple values using dictionaries

In [19]:
# Replace the rank of the first three ranked names to 'MEDAL'
names.replace({'Rank': {1:'MEDAL', 2:'MEDAL', 3:'MEDAL'}}, inplace=True)

# Replace the rank of the 4th and 5th ranked names to 'ALMOST MEDAL'
names.replace({'Rank': {4:'ALMOST MEDAL', 5:'ALMOST MEDAL'}}, inplace=True)
print(names.head())

   Year of Birth Gender                   Ethnicity Child's First Name  Count  \
0           2011      0  ASIAN AND PACIFIC ISLANDER             SOPHIA    119
1           2011      0  ASIAN AND PACIFIC ISLANDER              CHLOE    106
2           2011      0  ASIAN AND PACIFIC ISLANDER              EMILY     93
3           2011      0  ASIAN AND PACIFIC ISLANDER             OLIVIA     89
4           2011      0  ASIAN AND PACIFIC ISLANDER               EMMA     75

           Rank
0         FIRST
1        SECOND
2         THIRD
3  ALMOST MEDAL
4  ALMOST MEDAL

In [20]:
poker_hand.head()

NameError: name 'poker_hand' is not defined

## iter rows method

In [21]:
# Create a generator over the rows
generator = poker_hands.iterrows()

# Access the elements of the 2nd row
first_element = next(generator)
second_element = next(generator)
print(first_element, second_element)

(0, S1        1
R1       10
S2        1
R2       11
S3        1
R3       13
S4        1
R4       12
S5        1
R5        1
Class     9
Name: 0, dtype: int64) (1, S1        2
R1       11
S2        2
R2       13
S3        2
R3       10
S4        2
R4       12
S5        2
R5        1
Class     9
Name: 1, dtype: int64)

In [22]:
data_generator = poker_hands.iterrows()

for index, values in data_generator:
  	# Check if index is odd
    if index % 2 != 0:
      	# Sum the ranks of all the cards
        hand_sum = sum([values[1], values[3], values[5], values[7], values[9]])

In [23]:
hand_sum

36

In [24]:
poker_hand.tail()

NameError: name 'poker_hand' is not defined

In [ ]:
# Define the lambda transformation
get_square = (lambda x: x**2)

# Apply the transformation
data_sum = poker_hands.apply(get_square)
print(data_sum.head())

### Apply funciton using lambda along the rows

In [25]:
# Define the lambda transformation
get_variance = lambda x:np.var(x)

# Apply the transformation
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=1)
print(data_tr.head())

0    18.64
1    18.64
2    18.64
3    18.64
4    18.64
dtype: float64

### Doing it for each column

In [26]:
get_variance = lambda x: np.var(x)

# Apply the transformation
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=0)
print(data_tr.head())

R1    14.060473
R2    14.189523
R3    14.024270
R4    14.040552
R5    13.998851
dtype: float64

In [27]:
# Calculate the mean rank in each hand
start_time = time.time()
mean_r = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=1)
print("Results from the above operation calculated in %s seconds" % (time.time() - start_time))
print(mean_r.head())

# Calculate the mean rank of each of the 5 card in all hands
start_time = time.time()
mean_c = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=0)
print("Results from the above operation calculated in %s seconds" % (time.time() - start_time))
print(mean_c.head())

Results from the above operation calculated in 0.004986286163330078 seconds
0    9.4
1    9.4
2    9.4
3    9.4
4    9.4
dtype: float64
Results from the above operation calculated in 0.00400090217590332 seconds
R1    6.995242
R2    7.014194
R3    7.014154
R4    6.942463
R5    6.962735
dtype: float64

In [28]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1', 'R2','R3','R4','R5']].var(axis=1)
print("Results from the above operation calculated in %s seconds" % (time.time() - start_time))
print(poker_var.head())

Results from the above operation calculated in 0.0029938220977783203 seconds
0    23.3
1    23.3
2    23.3
3    23.3
4    23.3
dtype: float64

In [29]:
# Calculate the variance in each hand
start_time = time.time()
poker_var = poker_hands[['R1','R2','R3','R4','R5']].values.var(axis=1, ddof=1)
print("Results from the above operation calculated in %s seconds" % (time.time() - start_time))
print(poker_var[0:5])

Results from the above operation calculated in 0.008975982666015625 seconds
[23.3 23.3 23.3 23.3 23.3]

In [30]:
restaurant_data=pd.read_csv('restaurant_data.csv')

In [31]:
# Define the min-max transformation
min_max_tr = lambda x: (x - x.min()) / (x.max() - x.min())

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_min_max_group = restaurant_grouped.transform(min_max_tr)
print(restaurant_min_max_group.head())

   total_bill       tip  size
0    0.291579  0.001111   0.2
1    0.152283  0.073333   0.4
2    0.375786  0.277778   0.4
3    0.431713  0.256667   0.2
4    0.450775  0.290000   0.6

In [32]:
# Define the exponential transformation
pois_tr = lambda x: np.exp(-x.mean()*x) * x.mean()

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby('time')

# Apply the transformation
restaurant_pois_group = restaurant_grouped['tip'].transform(pois_tr)
print(restaurant_pois_group.head())

0    0.135141
1    0.017986
2    0.000060
3    0.000108
4    0.000042
Name: tip, dtype: float64

In [35]:
zscore = lambda x: (x - x.mean()) / x.std()
poker_grouped=poker_hands.groupby('Class')
# Apply the transformation
poker_trans = poker_grouped.transform(zscore)
print(poker_trans.head())

         S1        R1        S2        R2        S3        R3        S4  \
0 -1.380537  0.270364 -1.380537 -0.730297 -1.380537  0.631224 -1.380537
1 -0.613572  0.495666 -0.613572  1.095445 -0.613572  0.039451 -0.613572
2  0.153393  0.720969  0.153393 -0.730297  0.153393  0.631224  0.153393
3  0.920358  0.270364  0.920358 -0.730297  0.920358 -1.735866  0.920358
4  0.920358 -1.757363  0.920358  1.095445  0.920358  0.433966  0.920358

         R4        S5        R5
0  0.350823 -1.380537 -0.724286
1  0.350823 -0.613572 -0.724286
2 -1.403293  0.153393 -0.724286
3  1.227881  0.920358  1.267500
4 -0.526235  0.920358  0.905357

In [36]:
zscore = lambda x: (x - x.mean()) / x.std()

# Apply the transformation
poker_trans = poker_grouped.transform(zscore)

# Re-group the grouped object
poker_regrouped = poker_trans.groupby(poker_hands['Class'])

# Print each group's means and standard deviation
print(np.round(poker_regrouped.mean(), 3))
print(poker_regrouped.std())

        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
-3    -0.0 -0.0 -0.0 -0.0 -0.0  0.0 -0.0  0.0  0.0  0.0
-2    -0.0 -0.0  0.0 -0.0  0.0  0.0  0.0  0.0 -0.0  0.0
 0     0.0  0.0 -0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0 -0.0
 3    -0.0  0.0  0.0 -0.0 -0.0 -0.0  0.0 -0.0  0.0 -0.0
 4     0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0  0.0  0.0  0.0
 5    -0.0 -0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0 -0.0  0.0
 6    -0.0 -0.0 -0.0  0.0  0.0 -0.0  0.0  0.0 -0.0  0.0
 7     0.0 -0.0 -0.0  0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0
 8    -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0
 9     0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0  0.0  0.0 -0.0
        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
-3     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
-2     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 0     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 3     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 4     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 5     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 6     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 7     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 8     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
 9     1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

In [39]:
restaurant_data.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [40]:
# Filter the days where the count of total_bill is greater than $40
total_bill_40 = restaurant_data.groupby('day').filter(lambda x: x['total_bill'].count() > 40)

# Print the number of tables where total_bill is greater than $40
print('Number of tables where total_bill is greater than $40:', total_bill_40.shape[0])

Number of tables where total_bill is greater than $40: 225